# 로컬 파이썬 가상환경 (이미지 내부에 새로 설치하므로 필요 없음)
.venv/
__pycache__/
*.pyc

# 깃 설정 파일
.git/
.gitignore

# 환경 변수 (보안상 이미지에 직접 구워넣지 않는 것이 원칙)
# 하지만 지금처럼 개인 로컬 테스트용이라면 포함해도 무방합니다.
.env 

# 도커 설정 파일
Dockerfile
.dockerignore